<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        <p>Wenpage not found</p>
        {{>footer}}
    </body>
</html>