<!DOCTYPE html>
<html>
    <head>
        <title>Error 404: Help</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        <p>Help Documentation not found</p>
        {{>footer}}
    </body>
</html>