<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        {{>header}}
        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Locations">
            <button>Search</button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>